<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://luegm.dev/neon.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://images.squarespace-cdn.com/content/v1/5ab26f4ef2e6b166c6b17a79/1cc5e2e4-c4fe-433b-a49d-3729d52c3212/finder.png?format=1500w</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://images.squarespace-cdn.com/content/v1/5ab26f4ef2e6b166c6b17a79/1cc5e2e4-c4fe-433b-a49d-3729d52c3212/finder.png?format=1500w</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>dev.luegm.NEON</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>NEON</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
